/* Common */
html {
    height: 100%;
    width: 100%;
    background-color: #0058a0;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color:white;
}

h2 {
    font-size: large;
}

header {
    flex-basis: 10%;
    background-color: #0058a0;
    border-bottom: 1px solid #3076b0;
}

nav {
    flex-basis: 5%;
    font-size: large;
    background-color: #0058a0;
}

ul {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

li {
    width: max-content;
    color: white;
    list-style: circle;
    margin-right: 10%;
}

li a {
    color: white;
    text-decoration: none;
}

.contents {
    flex-basis: 80%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, white, #7fe7e7);
}

footer {
    flex-basis: 5%;
    background-color: #0058a0;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Common Top page */
.items-top {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.house, .education, .vacation {
    flex-basis: 28%;
    height: 100%;
    width: 100%;
    padding: 3px 0px 3px 0px;
    border-bottom: 1px solid #3076b0;
}

.calculateButton {
    flex-basis: 16%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tbody, tr {
    height: 100%;
    width: 100%;
}

#tdHouse, #tdEducation, #tdVacation {
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
    background-size: cover;
    background-position: center;
}

#tdHouse {
    background-image: url(../img/house.jpg);
    /* background-image: url(img/house.jpg); */
}

#tdEducation {
    background-image: url(../img/education.jpg);
    /* background-image: url(img/education.jpg); */
}

#tdVacation {
    background-image: url(../img/vacation.jpg);
    /* background-image: url(img/vacation.jpg); */
}

#tdInput {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

#lblAmount, #lblMonthly {
    font-size: 20px;
}

#txtHouse, #txtEducation, #txtVacation,
#txtHouseMonthly, #txtEducationMonthly, #txtVacationMonthly {
    height: 15%;
    border: 2px solid #3076b0;
    border-radius: 20px;
}

#btnCalculate {
    height: 50%;
    background-color: #f85050;
    border: 1px solid #f85050;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anchorCalculate {
    color: white;
    text-decoration: none;
}

/* Common Result page */
.items-result {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}

.array-result {
    flex-basis: 70%;
    height: 100%;
    width: 100%;
}

.panelResult {
    flex-basis: 33%;
    height: 100%;
    width: 100%;
    border: 2px solid #3076b0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #0058a0;
}

#table-result {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#trResultHeader {
    height: 20%;
    width: 100%;
}

#tdResultHeader {
    width: 100%;
    text-align: center;
}

#trResultPara {
    height: 15%;
    width: 100%;
}

#tdResultPara {
    width: 100%;
    text-align: center;
}

#trResultDetailHeader {
    height: 15%;
    width: 100%;
}

#trResultDetailHeader > td {
    height: 15%;
    width: 33%;
    text-align: center;
    font-weight: bold;
}

#trResultDetails {
    height: 15%;
    width: 100%;
}

#trResultDetails > td {
    height: 15%;
    width: 33%;
    text-align: center;    
}

.resultYear {
    color: orange;
    font-weight: bold;
}

.panelFunds {
    height: 100%;
    width: 80%;
    border: 1px solid #3076b0;
    border-radius: 20px;
}

#table-funds {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

#trFunds {
    height: 33%;
    width: 100%;
}

#tdFundsHeader {
    width: 10%;
    text-align: center;
    margin-right: 20px;
}

#tdFundsType {
    width: 30%;
}

#tdFundsLink {
    width: 50%;
    text-align: left;
}

.panelToApply {
    height: 100%;
    width: 100%;
}

#btnToApplyPage {
    background-color: #f85050;
    border: 1px solid #f85050;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anchorApply {
    color: white;
    text-decoration: none;
}

/* Common Profile page */
.items-profile {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 5px;
    display: flex;
}

.profile {
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    border: 1px solid #0885f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}

.profile-icon1 {
    flex-basis: 30%;
    height: 100%;
    width: 100%;
    background: url(../img/kyoto.JPG) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile-icon2 {
    flex-basis: 30%;
    height: 100%;
    width: 100%;
    background: url(../img/phil.JPG) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 100px;
    width: 100px;
    border: 3px solid #3076b0;
    border-radius: 50%;
    transition: all 0.5s;
}

.profile-image:hover {
    transform: scale(1.2);
}

.detail-profile {
    flex-basis: 70%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.detail-profile > h1 {
    color: black;
    text-align: center;
}

.background > h2, .goal > h2 {
    color: black;
}

.background {
    border: 1px ridge #add4f3;
    border-radius: 10px;
}

.background > p, .goal > p {
    margin-left: 5%;
}

ul.skills {
    padding: 0;
    text-align: center;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    width: 100px;
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background:#0399ff;
}

/* Common Apply page */
.items-apply {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    height: 40em;
    width: 100%;
    background-color: #0058a0;
    border: 1xp solid #3076b0;
    border-radius: 20px;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

#tr-image {
    height: 80%;
    width: 100%;
    color:white;
    text-align: center;
    text-shadow: 3px 3px black;
}

#td-image-house, #td-image-education, #td-image-vacation {
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

#td-image-house {
    background-image: url(../img/house.jpg);  
}

#td-image-education {
    background-image: url(../img/education.jpg);  
}

#td-image-vacation {
    background-image: url(../img/vacation.jpg);
}

#tr-apply {
    height: 20%;
    width: 100%;
}

#td-apply-house, #td-apply-education, #td-apply-vacation {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, white, #7fe7e7);
    border-radius: 0px 0px 20px 20px;
    display:flex;
    justify-content: center; 
    align-items: center;
}

#btnApply {
    height: 60%;
    width: 40%;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: #f85050;
    border: 1px solid #f85050;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#btnApply:hover {
    cursor: pointer;
}

.owl-nav {
    width: 100%;
    position: absolute;
    top: 35%;  
}

.owl-prev, .owl-next {
    position: absolute;
    width: 50px !important;
    background-color: #3076b0!important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 0.5;
}

.owl-next {
    right: 0%;
}

/* Modal Popup */
.contents-modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top : 10%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.items-popup {
    background-color: white;
    border: 3xp solid #3076b0;
    border-radius: 20px;
    margin: auto;
}

form {
    height: 100%;
    width: 100%;
    margin: auto;
}

.close-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title-form {
    text-align:center;
    margin-bottom: 5%;
}

#lblTitle {
    font-size: xx-large;
    font-weight: bold;
    color: black;
    text-align: center; 
}

.btnClose {
    font-weight: 200;
    border-style: none;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

#table-form {
    height: 80%;
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

#tr-form {
    height: 15%;
    width: 100%;
}

#td-label-form {
    width: 30%;
    text-align: right;
}

#td-form {
    width: 60%;
    text-align: center;
}

#td-submit-form {
    text-align: center;
}

#lblFirstName, #lblLastName, #lblEmail {
    color: black;
    text-align: right;
}

#txtFirstName, #txtLastName, #txtEmail {
    height: 50%;
    width: 90%;
    border: 2px solid #3076b0;
    border-radius: 20px;
}

#btnSubmit {
    font-size: 20px;
    color: white;
    background-color: #f85050;
    border: 1px solid #f85050;
    border-radius: 10px;
}

#btnSubmit:hover, .btnClose:hover {
    cursor: pointer;
}

/* Modal Popup Mobile */
.contents-modal-mobile {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top : 10%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#lblTitleMobile {
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-align: center; 
}

#tr-form-mobile {
    height: 5%;
    width: 100%;
}

#td-form-label-mobile {
    width: 100%;
    text-align: left;
}

#td-form-input-mobile {
    width: 100%;
    text-align: right;
}

#txtFirstNameMobile, #txtLastNameMobile, #txtEmailMobile {
    height: 60%;
    width: 90%;
    border: 2px solid #3076b0;
    border-radius: 20px;
}

/* Phone */
@media (max-width: 480px) {
    /* Common */
    header {
        text-align: center;
    }

    h1, h2 {
        font-size: x-large;
    }

    h2 {
        font-size: medium;
    }

    /* Top page */
    #tdHouse, #tdEducation, #tdVacation {
        width: 50%;
        font-size: 30px;
        border-radius: 50%;
    }

    #txtHouse, #txtEducation, #txtVacation,
    #txtHouseMonthly, #txtEducationMonthly, #txtVacationMonthly {
        width: 70%;
    }

    #btnCalculate {
        width: 60%;
    }

    #anchorCalculate {
        font-size: 25px;
    }

    /* Result page */
    .contents[rel=result] {
        height: max-content;
    }

    .array-result {
        display: flex;
        flex-direction: column;
        row-gap: 3%;
    }

    #tdResultHeader {
        font-size: 30px;
    }

    #tdResultPara {
        font-size: 15px;
    }

    #trResultDetailHeader > td {
        font-size: 15px;
    }

    #trResultDetails > td {
        font-size: 12px;
    }

    .resultYear {
        font-size: 18px !important;
    }

    .panelFunds {
        visibility: hidden;
        flex-basis: 0%;
        height: 0%;
        margin: 0;
    }

    #tdFundsHeader {
        font-size: 20px;
    }

    #tdFundsType {
        font-size: 15px;
    }

    .panelToApply {
        flex-basis: 20%;
        padding-top: 10%;
    }

    #btnToApplyPage {
        height: 50%;
        width: 70%;
    }

    #anchorApply {
        font-size: 25px;
    }

    /* Profile page */
    .contents[rel=profile] {
        height: max-content;
    }

    .items-profile {
        flex-direction: column;
    }

    .detail-profile > h1 {
        font-size: 15px;
    }

    .background > h2, .goal > h2 {
        font-size: 15px;
    }
    
    .background > p, .goal > p {
        font-size: 12px;
    }

    /* Apply page */
    #tr-image {
        font-size: 40px;
    }

    .owl-prev, .owl-next {
        font-size: 20px !important;
        height: 50px !important;
    }

    /* Modal Popup */
    .items-popup {
        height: 60%;
        width: 90%;
    }

    #lblTitle {
        font-size: large;
    }

    .btnClose {
        font-size: large;
    }

    #lblFirstName, #lblLastName, #lblEmail {
        font-size: large;
        position: relative;
        top: 30%;
    }

    #btnSubmit {
        height: 30%;
        width: 70%;
    }
}

/* Tablet */
@media (min-width: 481px) {
    /* Common */
    header {
        text-align: center;
    }

    h1, h2 {
        font-size: xx-large;
    }

    h2 {
        font-size: large;
    }

    /* Top page */
    #tdHouse, #tdEducation, #tdVacation {
        width: 60%;
        font-size: 35px;
        border-radius: 20px;
    }

    #txtHouse, #txtEducation, #txtVacation,
    #txtHouseMonthly, #txtEducationMonthly, #txtVacationMonthly {
        width: 70%;
    }

    #btnCalculate {
        width: 60%;
    }

    #anchorCalculate {
        font-size: 25px;
    }

    /* Result page */
    .contents[rel=result] {
        height: max-content;
    }

    .array-result {
        display: flex;
        flex-direction: column;
        row-gap: 3%;
    }

    #tdResultHeader {
        font-size: 30px;
    }

    #tdResultPara {
        font-size: 15px;
    }

    #trResultDetailHeader > td {
        font-size: 15px;
    }

    #trResultDetails > td {
        font-size: 12px;
    }

    .resultYear {
        font-size: 18px !important;
    }

    .panelFunds {
        visibility: hidden;
        flex-basis: 0%;
        height: 0%;
        margin: 0;
    }

    #tdFundsHeader {
        font-size: 20px;
    }

    #tdFundsType {
        font-size: 15px;
    }

    .panelToApply {
        flex-basis: 20%;
        padding-top: 10%;
    }

    #btnToApplyPage {
        height: 50%;
        width: 70%;
    }

    #anchorApply {
        font-size: 25px;
    }

    /* Profile page */
    .contents[rel=profile] {
        height: max-content;
    }
    
    .items-profile {
        flex-direction: column;
    }

    .detail-profile > h1 {
        font-size: 20px;
    }

    .background > h2, .goal > h2 {
        font-size: 15px;
    }
    
    .background > p, .goal > p {
        font-size: 12px;
    }

    /* Apply page */
    #tr-image {
        font-size: 60px;
    }

    .owl-prev, .owl-next {
        font-size: 30px !important;
        height: 60px !important;
    }

    /* Modal Popup */
    .items-popup {
        height: 60%;
        width: 90%;
    }

    #lblTitle {
        font-size: large;
    }

    .btnClose {
        font-size: large;
    }

    #lblFirstName, #lblLastName, #lblEmail {
        font-size: large;
        position: relative;
        top: 30%;
    }

    #btnSubmit {
        height: 30%;
        width: 70%;
    }
}

/* Desktop */
@media (min-width: 769px) {
    /* Common */
    header {
        text-align: left;
        margin-left: 20px;
    }

    h1, h2 {
        font-size: xx-large;
    }

    h2 {
        font-size: large;
    }

    /* Top page */
    #tdHouse, #tdEducation, #tdVacation {
        width: 70%;
        font-size: 45px;
        border-radius: 20px;
    }

    #txtHouse, #txtEducation, #txtVacation,
    #txtHouseMonthly, #txtEducationMonthly, #txtVacationMonthly {
        width: 50%;
    }

    #btnCalculate {
        width: 50%;
    }

    #anchorCalculate {
        font-size: 30px;
    }

    /* Result page */
    .contents[rel=result] {
        height: 100%;
    }

    .array-result {
        display: flex;
        flex-direction: row;
        column-gap: 1%;
    }

    #tdResultHeader {
        font-size: 40px;
    }

    #tdResultPara {
        font-size: 20px;
    }

    #trResultDetailHeader > td {
        font-size: 20px;
    }

    #trResultDetails > td {
        font-size: 15px;
    }

    .resultYear {
        font-size: 20px !important;
    }

    .panelFunds {
        visibility: visible;
        flex-basis: 20%;
        margin: auto;
    }

    #tdFundsHeader {
        font-size: 25px;
    }

    #tdFundsType {
        font-size: 20px;
    }

    .panelToApply {
        flex-basis: 10%;
        padding-top: 0%;
    }

    #btnToApplyPage {
        height: 100%;
        width: 30%;
    }

    #anchorApply {
        font-size: 30px;
    }

    /* Profile page */
    .items-profile {
        flex-direction: row;
    }

    .background > h2, .goal > h2 {
        font-size: x-large;
        color: black;
    }
    
    .background > p, .goal > p {
        font-size: large;
    }

    /* Apply page */
    #tr-image {
        font-size: 80px;
    }

    .owl-prev, .owl-next {
        font-size: 40px !important;
        height: 100px !important;
    }

    /* Apply page */
    #tr-image {
        font-size: 50px;
    }

    /* Modal Popup */
    .items-popup {
        height: 80%;
        width: 60%;
    }
    #lblTitle {
        font-size: x-large;
    }

    .btnClose {
        font-size: x-large;
    }

    #lblFirstName, #lblLastName, #lblEmail {
        position: none;
        top: 0;
        font-size: x-large;
    }

    #btnSubmit {
        height: 50%;
        width: 60%;
    }
}
